/* 
IMPORTANT: CSS styles across files can overwrite each other!
Make sure to use specific IDs/classes.
*/


.axis path,
.axis line {
  fill: none;
  stroke: #333;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.bar {
    fill: steelblue;
    shape-rendering: crispEdges;
  }

/* .axis text {
    font-size: var(--labels_font_size);
    fill: var(--font_color);
} */
/* .axis-title {
    font-size: var(--axis_title_font_size);
    fill: var(--font_color);
} */