/* 
IMPORTANT: CSS styles across files can overwrite each other!
Make sure to use specific IDs/classes.
*/

/* Axes */
.heat-map-chart .axis path {
    display: none;
}

#heatmap-cohabit-chart .axis.y-axis .tick text {
    display: none;
}