body {
  font-family: "Open Sans", sans-serif;
}

/* Responsive Layout */
.container {
  padding-top: 20px;
  margin-left: 30px;
  /* position: absolute;
  z-index: -100; */
}

.row.btm {
  margin-top: 55px;
}

.col-lg-8 {
  min-width: 880px;
}

.col-lg-5 {
  min-width: 550px;
}

.col-lg-4 {
  min-width: 440px;
}

.col-lg-3 {
  min-width: 330px;
}

#overview {
  text-align: justify;
}

/* Chart Text */
.title {
  font-size: 18px;
  font-weight: bold;
}

.subtitle {
  font-size: 10px;
  font-style: italic;
  fill: rgb(139, 139, 139);
}

.tick text {
  fill: rgb(90, 90, 90);
}

/* Tooltip */
#tooltip {
  position: absolute;
  display: none;
  border-radius: 7px;
  background: #fff;
  box-shadow: 2px 2px 2px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  padding: 8px;
  min-width: 100px;
  color: #333;
}

#remove-filtering {
  position: fixed;
  /* z-index: -10; */
  width: 100%;
  height: 100%;
  border: solid red 5px;

}

.chart, #age-group-filter-dropdown {
    position: relative;
    z-index: 100000;
}
