/* 
IMPORTANT: CSS styles across files can overwrite each other!
Make sure to use specific IDs/classes.
*/
:root {
    /* COLORS */
    --tooltip_bckg: white;
    --tooltip_border_color: #ddd;
    --font_color: black;
    --interacial_color: red;
    --same_race_color: blue;
    --stroke_color: black;
    /* border */
    --border-color: purple;

    /* text */
    /* --axis_title_font_size: 1em; */
    --labels_font_size: 0.8em;
    --shape_stroke_width: 2px;
}
